#cssmenu {width: 600px;}
#cssmenu ul, #cssmenu li, #cssmenu span, #cssmenu a {margin: 0;padding: 0;position: relative;}
#cssmenu:after, #cssmenu ul:after {content: '';display: block;clear: both;}
#cssmenu a {color: #ABABAB;min-width: 35px;}
#cssmenu ul {list-style:none;width:100%;display:table;}
#cssmenu > ul > li {
    font-weight:700;
    width: 25%;
    float: left;
    text-align: center;
    display: table-cell;
}

#cssmenu > ul > li.left-center {
    right: 25px;
}

#cssmenu > ul > li.right-center {
    left: 25px;
}

#cssmenu > ul > li.active > a {
    filter: none;
}
#cssmenu > ul > li.active a:hover {
    filter: none;
}
#cssmenu > ul > li a {
    line-height: 34px;
    padding: 0;
    filter: none;
}
#cssmenu > ul > li a:hover {
    color: #F00;
}
#cssmenu > ul > li:first-child {
    text-align: left;
}
#cssmenu > ul > li:last-child {
    text-align: right;
}

#cssmenu .has-sub:hover ul {
    display: table;
}
#cssmenu .has-sub ul {
    display: none;
    position: absolute;
    font-size: 12px;
    padding: 0;
    top: 36px;
    left: 0px;
    width: 252px;
    height: 2.5em;
    text-align: left;
    overflow: visible;
    *width: 100%;
}

#cssmenu #has-sub-feedback ul {margin-left: auto;margin-right: auto;text-align: center;
    left: -50px;
}

#cssmenu .has-sub ul li {
    text-align: left;
    display: table-cell;
}

#cssmenu #has-sub-feedback ul li {
    text-align: center;
    display: table-cell;
    width: 33%;
}

#cssmenu .has-sub ul li a {
    line-height: 120%;
    padding: 15px 0;
    text-align: left;
}

#cssmenu .has-sub.hide:hover ul {
    display: none; !important;
}